# Prediction of prices in Beijing
* url: https://www.kaggle.com/datasets/ruiqurm/lianjia

# Import all the libraries and check its version

In [1]:
import sys # To check pyhton version
import pandas as pd
pd.set_option('display.max_columns', None) # Show all the columns of the DataFrame.
import numpy as np
import os
import matplotlib.pyplot as plt
from mpl_toolkits.mplot3d import Axes3D

In [2]:
print(f"Python version: {sys.version}")
print(f"OS version: {os.name}")
print(f"Pandas version: {pd.__version__}")
print(f"Numpy version: {np.__version__}")

Python version: 3.10.12 (main, Jun 11 2023, 05:26:28) [GCC 11.4.0]
OS version: posix
Pandas version: 2.0.3
Numpy version: 1.21.5

## Data path

In [3]:
main_path = "/home/andres/Proyectos/Python/Machine Learning/Housing price Beijing"
file_name = "housing_beijing.csv"
path = os.path.join(main_path, file_name)

#### Columns of the dataset
* url: the url which fetches the data
* id: the id of transaction
* Lng: and Lat coordinates, using the BD09 protocol.
* Cid: community id
* tradeTime: the time of transaction
* DOM: active days on market.Know more in https://en.wikipedia.org/wiki/Days_on_market
* followers: the number of people follow the transaction.
* totalPrice: the total price
* price: the average price by square
* square: the square of house
* livingRoom: the number of living room
* drawingRoom: the number of drawing room
* kitchen: the number of kitchen
* bathroom the number of bathroom
* floor: the height of the house. I will turn the Chinese characters to English in the next version.
* buildingType: including tower( 1 ) , bungalow( 2 )，combination of plate and tower( 3 ), plate( 4 ).
* constructionTime: the time of construction
* renovationCondition: including other( 1 ), rough( 2 ),Simplicity( 3 ), hardcover( 4 )
* buildingStructure: including unknow( 1 ), mixed( 2 ), brick and wood( 3 ), brick and concrete( 4 ),steel( 5 ) and steel-concrete composite ( 6 ).
* ladderRatio: the proportion between number of residents on the same floor and number of elevator of ladder. It describes how many ladders a resident have on average.
* elevator have ( 1 ) or not have elevator( 0 )
* fiveYearsProperty: if the owner have the property for less than 5 years.

Most data is traded in 2011-2017, some of them is traded in Jan,2018, and some is even earlier(2010,2009)

All the data was fetching from https://bj.lianjia.com/chengjiao. 

Some columns are missing a description.

## Exploratory analysis of the dataset

In [4]:
# dtype = str: We make all columns str to avoid problems loading the data.
# low_memory = False: If there are missing values or mixed data types, it may require more memory for type inference.
# encoding = 'gbk': To read chinesse characters.
data = pd.read_csv(path, encoding = 'gbk', dtype = str, low_memory = False)
data.head()

,url,id,Lng,Lat,Cid,tradeTime,DOM,followers,totalPrice,price,square,livingRoom,drawingRoom,kitchen,bathRoom,floor,buildingType,constructionTime,renovationCondition,buildingStructure,ladderRatio,elevator,fiveYearsProperty,subway,district,communityAverage
0,https://bj.lianjia.com/chengjiao/101084782030....,101084782030,116.475489,40.01952,1111027376244,2016-08-09,1464,106,415.0,31680,131.0,2,1,1,1,高 26,1,2005,3,6,0.217,1.0,0.0,1.0,7,56021
1,https://bj.lianjia.com/chengjiao/101086012217....,101086012217,116.453917,39.881534,1111027381879,2016-07-28,903,126,575.0,43436,132.38,2,2,1,2,高 22,1,2004,4,6,0.667,1.0,1.0,0.0,7,71539
2,https://bj.lianjia.com/chengjiao/101086041636....,101086041636,116.561978,39.877145,1111040862969,2016-12-11,1271,48,1030.0,52021,198.0,3,2,1,3,中 4,4,2005,3,6,0.5,1.0,0.0,0.0,7,48160
3,https://bj.lianjia.com/chengjiao/101086406841....,101086406841,116.43801,40.076114,1111043185817,2016-09-30,965,138,297.5,22202,134.0,3,1,1,1,底 21,1,2008,1,6,0.273,1.0,0.0,0.0,6,51238
4,https://bj.lianjia.com/chengjiao/101086920653....,101086920653,116.428392,39.886229,1111027381174,2016-08-28,927,286,392.0,48396,81.0,2,1,1,1,中 6,4,1960,2,2,0.333,0.0,1.0,1.0,1,62588

In [5]:
data.shape

(318851, 26)

In [6]:
data.dtypes

url                    object
id                     object
Lng                    object
Lat                    object
Cid                    object
tradeTime              object
DOM                    object
followers              object
totalPrice             object
price                  object
square                 object
livingRoom             object
drawingRoom            object
kitchen                object
bathRoom               object
floor                  object
buildingType           object
constructionTime       object
renovationCondition    object
buildingStructure      object
ladderRatio            object
elevator               object
fiveYearsProperty      object
subway                 object
district               object
communityAverage       object
dtype: object

The dataset has one problem, the column 'totalPrice' which correspond to the total price is lesser than the 'price'
column, which is the pricer per square. The reason for this is because the 'totalPrice' column does not have all the
digits, so we are goint to drop the column and create a new 'Price' column multiplying the 'price' columun with the
'square' column, we are going to do the following steps:
* Drop the 'totalPrice' column.
* Convert the 'price' and 'square' columns data type to float (right now they are objects).
* Create the 'Price (M)' column multiplying  the 'price' and 'square' columns and normalizing it to 1,000,000 with 3 decimals so it is easier to read it.

In [7]:
# Step 1
data = data.drop('totalPrice', axis = 1)
data.head()

,url,id,Lng,Lat,Cid,tradeTime,DOM,followers,price,square,livingRoom,drawingRoom,kitchen,bathRoom,floor,buildingType,constructionTime,renovationCondition,buildingStructure,ladderRatio,elevator,fiveYearsProperty,subway,district,communityAverage
0,https://bj.lianjia.com/chengjiao/101084782030....,101084782030,116.475489,40.01952,1111027376244,2016-08-09,1464,106,31680,131.0,2,1,1,1,高 26,1,2005,3,6,0.217,1.0,0.0,1.0,7,56021
1,https://bj.lianjia.com/chengjiao/101086012217....,101086012217,116.453917,39.881534,1111027381879,2016-07-28,903,126,43436,132.38,2,2,1,2,高 22,1,2004,4,6,0.667,1.0,1.0,0.0,7,71539
2,https://bj.lianjia.com/chengjiao/101086041636....,101086041636,116.561978,39.877145,1111040862969,2016-12-11,1271,48,52021,198.0,3,2,1,3,中 4,4,2005,3,6,0.5,1.0,0.0,0.0,7,48160
3,https://bj.lianjia.com/chengjiao/101086406841....,101086406841,116.43801,40.076114,1111043185817,2016-09-30,965,138,22202,134.0,3,1,1,1,底 21,1,2008,1,6,0.273,1.0,0.0,0.0,6,51238
4,https://bj.lianjia.com/chengjiao/101086920653....,101086920653,116.428392,39.886229,1111027381174,2016-08-28,927,286,48396,81.0,2,1,1,1,中 6,4,1960,2,2,0.333,0.0,1.0,1.0,1,62588

In [8]:
data.shape

(318851, 25)

In [9]:
# Step 2
data['price'] = data['price'].astype(float)
data['square'] = data['square'].astype(float)
data.dtypes

url                     object
id                      object
Lng                     object
Lat                     object
Cid                     object
tradeTime               object
DOM                     object
followers               object
price                  float64
square                 float64
livingRoom              object
drawingRoom             object
kitchen                 object
bathRoom                object
floor                   object
buildingType            object
constructionTime        object
renovationCondition     object
buildingStructure       object
ladderRatio             object
elevator                object
fiveYearsProperty       object
subway                  object
district                object
communityAverage        object
dtype: object

In [10]:
# Step 3
data['Price (M)'] = round(data['price'] * data['square'] / 1000000, 3)
data.head()

,url,id,Lng,Lat,Cid,tradeTime,DOM,followers,price,square,livingRoom,drawingRoom,kitchen,bathRoom,floor,buildingType,constructionTime,renovationCondition,buildingStructure,ladderRatio,elevator,fiveYearsProperty,subway,district,communityAverage,Price (M)
0,https://bj.lianjia.com/chengjiao/101084782030....,101084782030,116.475489,40.01952,1111027376244,2016-08-09,1464,106,31680.0,131.00,2,1,1,1,高 26,1,2005,3,6,0.217,1.0,0.0,1.0,7,56021,4.150
1,https://bj.lianjia.com/chengjiao/101086012217....,101086012217,116.453917,39.881534,1111027381879,2016-07-28,903,126,43436.0,132.38,2,2,1,2,高 22,1,2004,4,6,0.667,1.0,1.0,0.0,7,71539,5.750
2,https://bj.lianjia.com/chengjiao/101086041636....,101086041636,116.561978,39.877145,1111040862969,2016-12-11,1271,48,52021.0,198.00,3,2,1,3,中 4,4,2005,3,6,0.5,1.0,0.0,0.0,7,48160,10.300
3,https://bj.lianjia.com/chengjiao/101086406841....,101086406841,116.43801,40.076114,1111043185817,2016-09-30,965,138,22202.0,134.00,3,1,1,1,底 21,1,2008,1,6,0.273,1.0,0.0,0.0,6,51238,2.975
4,https://bj.lianjia.com/chengjiao/101086920653....,101086920653,116.428392,39.886229,1111027381174,2016-08-28,927,286,48396.0,81.00,2,1,1,1,中 6,4,1960,2,2,0.333,0.0,1.0,1.0,1,62588,3.920

### Create a subset with the desired columns
Not all the columns are useful, we are going to stay with all the columns that bring some value.

In [11]:
columns = data.columns.values.tolist()
columns

['url',
 'id',
 'Lng',
 'Lat',
 'Cid',
 'tradeTime',
 'DOM',
 'followers',
 'price',
 'square',
 'livingRoom',
 'drawingRoom',
 'kitchen',
 'bathRoom',
 'floor',
 'buildingType',
 'constructionTime',
 'renovationCondition',
 'buildingStructure',
 'ladderRatio',
 'elevator',
 'fiveYearsProperty',
 'subway',
 'district',
 'communityAverage',
 'Price (M)']

In [12]:
# Create the desired subset
columns_set = set(columns)
columns_subset = {'url', 'Cid', 'tradeTime', 'id', 'communityAverage'}
desired_columns = columns_set - columns_subset
desired_columns = list(desired_columns)
desired_columns

['followers',
 'bathRoom',
 'renovationCondition',
 'floor',
 'Price (M)',
 'Lng',
 'buildingType',
 'square',
 'elevator',
 'Lat',
 'fiveYearsProperty',
 'drawingRoom',
 'constructionTime',
 'subway',
 'price',
 'DOM',
 'ladderRatio',
 'livingRoom',
 'kitchen',
 'district',
 'buildingStructure']

In [13]:
# Create a new DataFrame using the desired columns
desired_data = data[desired_columns]
desired_data.head()

,followers,bathRoom,renovationCondition,floor,Price (M),Lng,buildingType,square,elevator,Lat,fiveYearsProperty,drawingRoom,constructionTime,subway,price,DOM,ladderRatio,livingRoom,kitchen,district,buildingStructure
0,106,1,3,高 26,4.150,116.475489,1,131.00,1.0,40.01952,0.0,1,2005,1.0,31680.0,1464,0.217,2,1,7,6
1,126,2,4,高 22,5.750,116.453917,1,132.38,1.0,39.881534,1.0,2,2004,0.0,43436.0,903,0.667,2,1,7,6
2,48,3,3,中 4,10.300,116.561978,4,198.00,1.0,39.877145,0.0,2,2005,0.0,52021.0,1271,0.5,3,1,7,6
3,138,1,1,底 21,2.975,116.43801,1,134.00,1.0,40.076114,0.0,1,2008,0.0,22202.0,965,0.273,3,1,6,6
4,286,1,2,中 6,3.920,116.428392,4,81.00,0.0,39.886229,1.0,1,1960,1.0,48396.0,927,0.333,2,1,1,2

### Renaming the columns

In [14]:
desired_data = desired_data.rename(columns = {'followers': 'Followers', 'ladderRatio': 'Ladder Ratio',
                                  'fiveYearsProperty': 'Five Years Property', 'square': 'Square',  
                                  'livingRoom': 'Living Room', 'bathRoom': 'Bathroom', 'kitchen': 'Kitchen',
                                   'buildingType': 'Building Type', 'buildingStructure': 'Building Structure',
                                  'elevator': 'Elevator', 'constructionTime': 'Construction Time', 
                                  'district': 'District', 'renovationCondition': 'Renovation Condition',
                                  'subway': 'Subway', 'drawingRoom': 'Drawing Room', 'price': 'Price per square',
                                             'floor': 'Floor'})

In [15]:
desired_data.head()

,Followers,Bathroom,Renovation Condition,Floor,Price (M),Lng,Building Type,Square,Elevator,Lat,Five Years Property,Drawing Room,Construction Time,Subway,Price per square,DOM,Ladder Ratio,Living Room,Kitchen,District,Building Structure
0,106,1,3,高 26,4.150,116.475489,1,131.00,1.0,40.01952,0.0,1,2005,1.0,31680.0,1464,0.217,2,1,7,6
1,126,2,4,高 22,5.750,116.453917,1,132.38,1.0,39.881534,1.0,2,2004,0.0,43436.0,903,0.667,2,1,7,6
2,48,3,3,中 4,10.300,116.561978,4,198.00,1.0,39.877145,0.0,2,2005,0.0,52021.0,1271,0.5,3,1,7,6
3,138,1,1,底 21,2.975,116.43801,1,134.00,1.0,40.076114,0.0,1,2008,0.0,22202.0,965,0.273,3,1,6,6
4,286,1,2,中 6,3.920,116.428392,4,81.00,0.0,39.886229,1.0,1,1960,1.0,48396.0,927,0.333,2,1,1,2

In [16]:
columns = desired_data.columns.values.tolist()
columns

['Followers',
 'Bathroom',
 'Renovation Condition',
 'Floor',
 'Price (M)',
 'Lng',
 'Building Type',
 'Square',
 'Elevator',
 'Lat',
 'Five Years Property',
 'Drawing Room',
 'Construction Time',
 'Subway',
 'Price per square',
 'DOM',
 'Ladder Ratio',
 'Living Room',
 'Kitchen',
 'District',
 'Building Structure']

### Dealing with annoying values
Let's create a function that trys to convert the values to int or float and if it fails, stored those values in a dictionary.

In [17]:
# Finds the unique values for each column if the conversion to int or float fails.
def findValues(columns_list):
    data_copy = desired_data.copy() # Create a copy of the dataset.
    values_dict = {}
    for col in columns_list:
        try:
            data_copy[col] = data_copy[col].astype(int)
        except ValueError: # If it is a float value
            try:
                data_copy[col] = data_copy[col].astype(float)
            except ValueError: # If there is a non number value.
                col_list = []
                for i in data_copy[col].unique().tolist():
                    try:
                        int(i)
                    except ValueError:
                        try:
                            float(i)
                        except ValueError:
                            col_list.append(i)
                values_dict[col] = col_list
    return values_dict

In [18]:
# Create a DataFrame using values_dict
series_list = []
for col, values in findValues(columns).items():
    series_list.append(pd.Series(values, name = col))

# Concatenate the series in a DataFrame
df = pd.concat(series_list, axis=1)
df

    Bathroom  Floor Drawing Room Construction Time Living Room
0         未知   高 26         中 14                未知      #NAME?
1        NaN   高 22         中 15               NaN         NaN
2        NaN    中 4         中 16               NaN         NaN
3        NaN   底 21          中 6               NaN         NaN
4        NaN    中 6         高 14               NaN         NaN
..       ...    ...          ...               ...         ...
198      NaN  未知 29          NaN               NaN         NaN
199      NaN  未知 24          NaN               NaN         NaN
200      NaN  未知 30          NaN               NaN         NaN
201      NaN  未知 31          NaN               NaN         NaN
202      NaN    低 5          NaN               NaN         NaN

[203 rows x 5 columns]

In [19]:
# Look for the frequency of certain values
def frequencyValues(values_dict):
    freq_dict = {}
    for key, value in values_dict.items():
        for l in value:
            # Stored the column, value and relative frequency in a tuple.
            freq_dict[(key, l, 'Relative frequency %')] = ((desired_data[key] == l).sum(), ((desired_data[key] == l).sum() / desired_data.shape[0]) * 100)
    return freq_dict

In [20]:
frequencyValues(findValues(columns))

{('Bathroom', '未知', 'Relative frequency %'): (2, 0.000627252227529473),
 ('Floor', '高 26', 'Relative frequency %'): (1820, 0.5707995270518205),
 ('Floor', '高 22', 'Relative frequency %'): (2540, 0.7966103289624308),
 ('Floor', '中 4', 'Relative frequency %'): (1598, 0.5011745297960489),
 ('Floor', '底 21', 'Relative frequency %'): (289, 0.09063794687800886),
 ('Floor', '中 6', 'Relative frequency %'): (34788, 10.910425245647653),
 ('Floor', '中 8', 'Relative frequency %'): (1202, 0.3769785887452133),
 ('Floor', '高 6', 'Relative frequency %'): (20904, 6.556040282138052),
 ('Floor', '高 10', 'Relative frequency %'): (1193, 0.37415595372133065),
 ('Floor', '中 23', 'Relative frequency %'): (1484, 0.465421152826869),
 ('Floor', '底 11', 'Relative frequency %'): (676, 0.21201125290496187),
 ('Floor', '底 3', 'Relative frequency %'): (639, 0.20040708669566665),
 ('Floor', '高 24', 'Relative frequency %'): (4014, 1.2588952206516524),
 ('Floor', '低 23', 'Relative frequency %'): (839, 0.26313230944861393),
 ('Floor', '中 19', 'Relative frequency %'): (1868, 0.5858535805125278),
 ('Floor', '高 18', 'Relative frequency %'): (6536, 2.049860279566318),
 ('Floor', '低 25', 'Relative frequency %'): (1777, 0.5573136041599367),
 ('Floor', '中 12', 'Relative frequency %'): (3196, 1.0023490595920979),
 ('Floor', '中 14', 'Relative frequency %'): (3993, 1.252309072262593),
 ('Floor', '中 30', 'Relative frequency %'): (862, 0.27034571006520286),
 ('Floor', '中 27', 'Relative frequency %'): (1709, 0.5359870284239346),
 ('Floor', '中 5', 'Relative frequency %'): (8227, 2.5802020379424873),
 ('Floor', '低 18', 'Relative frequency %'): (6258, 1.962672219939721),
 ('Floor', '底 28', 'Relative frequency %'): (167, 0.052375560998711),
 ('Floor', '中 11', 'Relative frequency %'): (4549, 1.4266851915157863),
 ('Floor', '低 9', 'Relative frequency %'): (1660, 0.5206193488494626),
 ('Floor', '顶 7', 'Relative frequency %'): (698, 0.2189110274077861),
 ('Floor', '顶 27', 'Relative frequency %'): (159, 0.04986655208859311),
 ('Floor', '低 6', 'Relative frequency %'): (15737, 4.935534152315658),
 ('Floor', '中 17', 'Relative frequency %'): (2366, 0.7420393851673666),
 ('Floor', '顶 6', 'Relative frequency %'): (22763, 7.139071227626697),
 ('Floor', '中 24', 'Relative frequency %'): (4764, 1.4941148059752047),
 ('Floor', '中 15', 'Relative frequency %'): (2572, 0.8066463646029023),
 ('Floor', '底 5', 'Relative frequency %'): (2073, 0.6501469338342988),
 ('Floor', '中 29', 'Relative frequency %'): (705, 0.22110641020413924),
 ('Floor', '顶 19', 'Relative frequency %'): (205, 0.06429335332177098),
 ('Floor', '顶 5', 'Relative frequency %'): (3075, 0.9644002998265647),
 ('Floor', '中 9', 'Relative frequency %'): (2442, 0.7658749698134866),
 ('Floor', '低 22', 'Relative frequency %'): (2549, 0.7994329639863135),
 ('Floor', '顶 18', 'Relative frequency %'): (1207, 0.378546719314037),
 ('Floor', '低 16', 'Relative frequency %'): (4174, 1.3090753988540103),
 ('Floor', '高 13', 'Relative frequency %'): (1043, 0.32711203665662014),
 ('Floor', '高 9', 'Relative frequency %'): (1596, 0.5005472775685195),
 ('Floor', '高 17', 'Relative frequency %'): (1173, 0.36788343144603597),
 ('Floor', '底 6', 'Relative frequency %'): (13338, 4.183145105394055),
 ('Floor', '中 28', 'Relative frequency %'): (2726, 0.8549447861226717),
 ('Floor', '低 26', 'Relative frequency %'): (1885, 0.5911852244465283),
 ('Floor', '底 15', 'Relative frequency %'): (365, 0.11447353152412881),
 ('Floor', '高 16', 'Relative frequency %'): (4003, 1.2554453334002402),
 ('Floor', '底 2', 'Relative frequency %'): (146, 0.04578941260965153),
 ('Floor', '低 7', 'Relative frequency %'): (1348, 0.42276800135486486),
 ('Floor', '中 13', 'Relative frequency %'): (1804, 0.5657815092315847),
 ('Floor', '低 33', 'Relative frequency %'): (187, 0.058648083274005725),
 ('Floor', '底 14', 'Relative frequency %'): (448, 0.14050449896660194),
 ('Floor', '高 15', 'Relative frequency %'): (1909, 0.598712251176882),
 ('Floor', '底 4', 'Relative frequency %'): (650, 0.20385697394707872),
 ('Floor', '顶 11', 'Relative frequency %'): (821, 0.25748703940084866),
 ('Floor', '中 32', 'Relative frequency %'): (982, 0.30798084371697126),
 ('Floor', '顶 16', 'Relative frequency %'): (881, 0.27630460622673286),
 ('Floor', '底 18', 'Relative frequency %'): (978, 0.30672633926191234),
 ('Floor', '顶 17', 'Relative frequency %'): (229, 0.07182038005212465),
 ('Floor', '低 14', 'Relative frequency %'): (1874, 0.5877353371951162),
 ('Floor', '低 10', 'Relative frequency %'): (1128, 0.3537702563266228),
 ('Floor', '底 20', 'Relative frequency %'): (353, 0.11071001815895198),
 ('Floor', '高 12', 'Relative frequency %'): (2369, 0.7429802635086608),
 ('Floor', '低 31', 'Relative frequency %'): (188, 0.05896170938777046),
 ('Floor', '低 30', 'Relative frequency %'): (757, 0.23741496811990553),
 ('Floor', '低 19', 'Relative frequency %'): (1184, 0.371333318697448),
 ('Floor', '低 12', 'Relative frequency %'): (2261, 0.7091086432220692),
 ('Floor', '中 10', 'Relative frequency %'): (2394, 0.7508209163527793),
 ('Floor', '中 16', 'Relative frequency %'): (6151, 1.9291142257668943),
 ('Floor', '顶 20', 'Relative frequency %'): (489, 0.15336316963095617),
 ('Floor', '底 19', 'Relative frequency %'): (123, 0.03857601199306259),
 ('Floor', '中 31', 'Relative frequency %'): (247, 0.07746565009988991),
 ('Floor', '低 13', 'Relative frequency %'): (932, 0.29229953802873443),
 ('Floor', '底 10', 'Relative frequency %'): (448, 0.14050449896660194),
 ('Floor', '高 25', 'Relative frequency %'): (1837, 0.5761311709858209),
 ('Floor', '中 21', 'Relative frequency %'): (3124, 0.9797679794010368),
 ('Floor', '中 20', 'Relative frequency %'): (4145, 1.2999802415548327),
 ('Floor', '高 20', 'Relative frequency %'): (2442, 0.7658749698134866),
 ('Floor', '低 21', 'Relative frequency %'): (2632, 0.8254639314287864),
 ('Floor', '低 24', 'Relative frequency %'): (3941, 1.2360005143468265),
 ('Floor', '顶 4', 'Relative frequency %'): (758, 0.2377285942336703),
 ('Floor', '高 21', 'Relative frequency %'): (2540, 0.7966103289624308),
 ('Floor', '高 7', 'Relative frequency %'): (1728, 0.5419459245854648),
 ('Floor', '中 22', 'Relative frequency %'): (3465, 1.086714484194812),
 ('Floor', '底 1', 'Relative frequency %'): (332, 0.10412386976989252),
 ('Floor', '中 7', 'Relative frequency %'): (4914, 1.5411587230399153),
 ('Floor', '底 8', 'Relative frequency %'): (236, 0.07401576284847781),
 ('Floor', '顶 15', 'Relative frequency %'): (438, 0.1373682378289546),
 ('Floor', '中 18', 'Relative frequency %'): (7982, 2.503363640070127),
 ('Floor', '高 28', 'Relative frequency %'): (2183, 0.6846458063484198),
 ('Floor', '顶 14', 'Relative frequency %'): (593, 0.18598028546248876),
 ('Floor', '顶 13', 'Relative frequency %'): (288, 0.09032432076424413),
 ('Floor', '低 20', 'Relative frequency %'): (2544, 0.7978648334174897),
 ('Floor', '底 26', 'Relative frequency %'): (178, 0.0558254482501231),
 ('Floor', '低 17', 'Relative frequency %'): (1243, 0.3898372594095675),
 ('Floor', '顶 24', 'Relative frequency %'): (493, 0.1546176740860151),
 ('Floor', '底 23', 'Relative frequency %'): (83, 0.02603096744247313),
 ('Floor', '顶 3', 'Relative frequency %'): (259, 0.08122916346506676),
 ('Floor', '顶 21', 'Relative frequency %'): (405, 0.12701857607471828),
 ('Floor', '底 24', 'Relative frequency %'): (373, 0.11698254043424673),
 ('Floor', '高 30', 'Relative frequency %'): (727, 0.22800618470696343),
 ('Floor', '高 11', 'Relative frequency %'): (1804, 0.5657815092315847),
 ('Floor', '底 25', 'Relative frequency %'): (172, 0.053943691567534674),
 ('Floor', '高 27', 'Relative frequency %'): (1494, 0.46855741396451633),
 ('Floor', '底 9', 'Relative frequency %'): (613, 0.19225280773778347),
 ('Floor', '低 11', 'Relative frequency %'): (1748, 0.5482184468607594),
 ('Floor', '低 28', 'Relative frequency %'): (2078, 0.6517150644031224),
 ('Floor', '低 15', 'Relative frequency %'): (1980, 0.6209797052541783),
 ('Floor', '顶 26', 'Relative frequency %'): (181, 0.05676632659141731),
 ('Floor', '低 34', 'Relative frequency %'): (169, 0.05300281322624047),
 ('Floor', '顶 12', 'Relative frequency %'): (706, 0.22142003631790397),
 ('Floor', '中 25', 'Relative frequency %'): (2344, 0.7351396106645424),
 ('Floor', '高 8', 'Relative frequency %'): (298, 0.09346058190189148),
 ('Floor', '底 17', 'Relative frequency %'): (199, 0.06241159663918257),
 ('Floor', '高 32', 'Relative frequency %'): (735, 0.23051519361708134),
 ('Floor', '高 19', 'Relative frequency %'): (1323, 0.4149273485107464),
 ('Floor', '底 7', 'Relative frequency %'): (1210, 0.3794875976553312),
 ('Floor', '顶 28', 'Relative frequency %'): (255, 0.07997465901000782),
 ('Floor', '顶 9', 'Relative frequency %'): (781, 0.2449419948502592),
 ('Floor', '高 31', 'Relative frequency %'): (194, 0.06084346607035888),
 ('Floor', '中 26', 'Relative frequency %'): (2796, 0.8768986140862033),
 ('Floor', '顶 2', 'Relative frequency %'): (38, 0.011917792323059987),
 ('Floor', '顶 8', 'Relative frequency %'): (252, 0.07903378066871361),
 ('Floor', '底 32', 'Relative frequency %'): (29, 0.00909515729917736),
 ('Floor', '中 42', 'Relative frequency %'): (13, 0.004077139478941574),
 ('Floor', '底 30', 'Relative frequency %'): (53, 0.016622184029531032),
 ('Floor', '低 32', 'Relative frequency %'): (656, 0.20573873062966716),
 ('Floor', '底 16', 'Relative frequency %'): (739, 0.23176969807214026),
 ('Floor', '低 3', 'Relative frequency %'): (196, 0.06147071829788836),
 ('Floor', '底 22', 'Relative frequency %'): (278, 0.08718805962659675),
 ('Floor', '高 14', 'Relative frequency %'): (1872, 0.5871080849675868),
 ('Floor', '高 23', 'Relative frequency %'): (939, 0.2944949208250876),
 ('Floor', '底 27', 'Relative frequency %'): (96, 0.030108106921414704),
 ('Floor', '底 13', 'Relative frequency %'): (239, 0.07495664118977202),
 ('Floor', '低 27', 'Relative frequency %'): (1371, 0.42998140197145374),
 ('Floor', '顶 23', 'Relative frequency %'): (137, 0.0429667775857689),
 ('Floor', '低 29', 'Relative frequency %'): (507, 0.1590084396787214),
 ('Floor', '顶 22', 'Relative frequency %'): (377, 0.11823704488930567),
 ('Floor', '高 29', 'Relative frequency %'): (530, 0.16622184029531034),
 ('Floor', '中 34', 'Relative frequency %'): (211, 0.0661751100043594),
 ('Floor', '顶 25', 'Relative frequency %'): (215, 0.06742961445941835),
 ('Floor', '高 34', 'Relative frequency %'): (158, 0.049552925974828375),
 ('Floor', '顶 10', 'Relative frequency %'): (485, 0.15210866517589722),
 ('Floor', '低 37', 'Relative frequency %'): (4, 0.001254504455058946),
 ('Floor', '底 12', 'Relative frequency %'): (504, 0.15806756133742722),
 ('Floor', '未知 6', 'Relative frequency %'): (261, 0.08185641569259623),
 ('Floor', '顶 32', 'Relative frequency %'): (75, 0.02352195853235524),
 ('Floor', '低 42', 'Relative frequency %'): (16, 0.005018017820235784),
 ('Floor', '顶 30', 'Relative frequency %'): (60, 0.018817566825884192),
 ('Floor', '底 33', 'Relative frequency %'): (10, 0.0031362611376473653),
 ('Floor', '高 42', 'Relative frequency %'): (5, 0.0015681305688236826),
 ('Floor', '低 8', 'Relative frequency %'): (307, 0.09628321692577411),
 ('Floor', '高 33', 'Relative frequency %'): (171, 0.05363006545376994),
 ('Floor', '中 33', 'Relative frequency %'): (196, 0.06147071829788836),
 ('Floor', '顶 29', 'Relative frequency %'): (57, 0.01787668848458998),
 ('Floor', '底 29', 'Relative frequency %'): (35, 0.010976913981765778),
 ('Floor', '未知 15', 'Relative frequency %'): (19, 0.005958896161529993),
 ('Floor', '高 37', 'Relative frequency %'): (7, 0.0021953827963531554),
 ('Floor', '低 36', 'Relative frequency %'): (2, 0.000627252227529473),
 ('Floor', '低 35', 'Relative frequency %'): (1, 0.0003136261137647365),
 ('Floor', '顶 34', 'Relative frequency %'): (15, 0.004704391706471048),
 ('Floor', '高 36', 'Relative frequency %'): (7, 0.0021953827963531554),
 ('Floor', '中 37', 'Relative frequency %'): (5, 0.0015681305688236826),
 ('Floor', '中 35', 'Relative frequency %'): (3, 0.0009408783412942095),
 ('Floor', '底 31', 'Relative frequency %'): (6, 0.001881756682588419),
 ('Floor', '未知 12', 'Relative frequency %'): (82, 0.025717341328708395),
 ('Floor', '顶 31', 'Relative frequency %'): (4, 0.001254504455058946),
 ('Floor', '低 63', 'Relative frequency %'): (1, 0.0003136261137647365),
 ('Floor', '未知 21', 'Relative frequency %'): (28, 0.008781531185412621),
 ('Floor', '底 34', 'Relative frequency %'): (2, 0.000627252227529473),
 ('Floor', '中 57', 'Relative frequency %'): (2, 0.000627252227529473),
 ('Floor', '顶 33', 'Relative frequency %'): (7, 0.0021953827963531554),
 ('Floor', '钢混结构', 'Relative frequency %'): (17, 0.005331643934000521),
 ('Floor', '混合结构', 'Relative frequency %'): (15, 0.004704391706471048),
 ('Floor', '未知 11', 'Relative frequency %'): (45, 0.014113175119413143),
 ('Floor', '未知 7', 'Relative frequency %'): (63, 0.019758445167178403),
 ('Floor', '未知 10', 'Relative frequency %'): (59, 0.018503940712119454),
 ('Floor', '未知 18', 'Relative frequency %'): (52, 0.016308557915766297),
 ('Floor', '未知 8', 'Relative frequency %'): (47, 0.014740427346942616),
 ('Floor', '未知 14', 'Relative frequency %'): (57, 0.01787668848458998),
 ('Floor', '未知 4', 'Relative frequency %'): (17, 0.005331643934000521),
 ('Floor', '未知 5', 'Relative frequency %'): (91, 0.028539976352591024),
 ('Floor', '未知 3', 'Relative frequency %'): (4, 0.001254504455058946),
 ('Floor', '未知 27', 'Relative frequency %'): (25, 0.007840652844118412),
 ('Floor', '未知 25', 'Relative frequency %'): (58, 0.01819031459835472),
 ('Floor', '未知 20', 'Relative frequency %'): (52, 0.016308557915766297),
 ('Floor', '未知 26', 'Relative frequency %'): (26, 0.008154278957883149),
 ('Floor', '未知 9', 'Relative frequency %'): (17, 0.005331643934000521),
 ('Floor', '未知 22', 'Relative frequency %'): (19, 0.005958896161529993),
 ('Floor', '未知 23', 'Relative frequency %'): (57, 0.01787668848458998),
 ('Floor', '未知 16', 'Relative frequency %'): (51, 0.015994931802001563),
 ('Floor', '未知 19', 'Relative frequency %'): (18, 0.005645270047765258),
 ('Floor', '未知 28', 'Relative frequency %'): (40, 0.012545044550589461),
 ('Floor', '中 36', 'Relative frequency %'): (3, 0.0009408783412942095),
 ('Floor', '未知 17', 'Relative frequency %'): (23, 0.00721340061658894),
 ('Floor', '未知 13', 'Relative frequency %'): (5, 0.0015681305688236826),
 ('Floor', '低 2', 'Relative frequency %'): (1, 0.0003136261137647365),
 ('Floor', '未知 29', 'Relative frequency %'): (2, 0.000627252227529473),
 ('Floor', '未知 24', 'Relative frequency %'): (9, 0.002822635023882629),
 ('Floor', '未知 30', 'Relative frequency %'): (13, 0.004077139478941574),
 ('Floor', '未知 31', 'Relative frequency %'): (31, 0.00972240952670683),
 ('Floor', '低 5', 'Relative frequency %'): (1, 0.0003136261137647365),
 ('Drawing Room', '中 14', 'Relative frequency %'): (2, 0.000627252227529473),
 ('Drawing Room', '中 15', 'Relative frequency %'): (1, 0.0003136261137647365),
 ('Drawing Room', '中 16', 'Relative frequency %'): (3, 0.0009408783412942095),
 ('Drawing Room', '中 6', 'Relative frequency %'): (6, 0.001881756682588419),
 ('Drawing Room', '高 14', 'Relative frequency %'): (2, 0.000627252227529473),
 ('Drawing Room', '顶 6', 'Relative frequency %'): (2, 0.000627252227529473),
 ('Drawing Room', '低 6', 'Relative frequency %'): (7, 0.0021953827963531554),
 ('Drawing Room', '低 16', 'Relative frequency %'): (1, 0.0003136261137647365),
 ('Drawing Room', '高 12', 'Relative frequency %'): (1, 0.0003136261137647365),
 ('Drawing Room', '低 15', 'Relative frequency %'): (1, 0.0003136261137647365),
 ('Drawing Room', '高 6', 'Relative frequency %'): (1, 0.0003136261137647365),
 ('Drawing Room', '底 28', 'Relative frequency %'): (1, 0.0003136261137647365),
 ('Drawing Room', '底 11', 'Relative frequency %'): (1, 0.0003136261137647365),
 ('Drawing Room', '中 24', 'Relative frequency %'): (1, 0.0003136261137647365),
 ('Drawing Room', '底 20', 'Relative frequency %'): (1, 0.0003136261137647365),
 ('Drawing Room', '中 22', 'Relative frequency %'): (1, 0.0003136261137647365),
 ('Construction Time', '未知', 'Relative frequency %'): (19283,
  6.047652351725414),
 ('Living Room', '#NAME?', 'Relative frequency %'): (32, 0.010036035640471569)}

From the above dictionary we can see that the 'Floor' column has too many combined data (kanji + number), so we are going to drop that column. The other columns have too little rows with combined data, so we can drop them, the only exception is going to be the 'Construction Time' wich only has one value '未知' that means unknown, about 6% of the data has this value so instead of dropping the rows, we are going to give them a random value choose among the other values that are known.

In [21]:
# Drop 'Floor' column.
desired_data = desired_data.drop('Floor', axis = 1)
desired_data.head()

,Followers,Bathroom,Renovation Condition,Price (M),Lng,Building Type,Square,Elevator,Lat,Five Years Property,Drawing Room,Construction Time,Subway,Price per square,DOM,Ladder Ratio,Living Room,Kitchen,District,Building Structure
0,106,1,3,4.150,116.475489,1,131.00,1.0,40.01952,0.0,1,2005,1.0,31680.0,1464,0.217,2,1,7,6
1,126,2,4,5.750,116.453917,1,132.38,1.0,39.881534,1.0,2,2004,0.0,43436.0,903,0.667,2,1,7,6
2,48,3,3,10.300,116.561978,4,198.00,1.0,39.877145,0.0,2,2005,0.0,52021.0,1271,0.5,3,1,7,6
3,138,1,1,2.975,116.43801,1,134.00,1.0,40.076114,0.0,1,2008,0.0,22202.0,965,0.273,3,1,6,6
4,286,1,2,3.920,116.428392,4,81.00,0.0,39.886229,1.0,1,1960,1.0,48396.0,927,0.333,2,1,1,2

In [22]:
# Drop the rows.
columns = desired_data.columns.values.tolist()
dict_keys_object = frequencyValues(findValues(columns)).keys() # Access to the keys values (tuple).
keys_list = list(dict_keys_object) # Transform the dictionary into a list to  iterate.
for i in keys_list: # i is a tuple with the values (column, value, Relative frequency %)
    if i[0] != 'Construction Time':
    # We drop the rows in de DataFrame that have the unwanted values.
        desired_data = desired_data[~desired_data[i[0]].eq(i[1])]

In [23]:
frequencyValues(findValues(columns))

{('Construction Time', '未知', 'Relative frequency %'): (19283,
  6.04825935719013)}

Replace the '未知' values with random values of the 'Construction Time' column.

In [24]:
# Function that replace certain values with random values of the same column.
def randomReplace(data, column, value):
    list_values = data[column].tolist() # Get all the values of the column.
    list_values = [x for x in list_values if x != value] # Update the list without the unwanted value.
    np.random.shuffle(list_values) # Shuffle the list.
    mask = (data[column] == value) # Create a boolean mask for the rows that contain the unwanted value.
    data.loc[mask, column] = np.random.choice(list_values, size = mask.sum()) # Replace the unwanted value for random values from the list.
    return data.head()

In [25]:
randomReplace(desired_data, 'Construction Time', '未知')

,Followers,Bathroom,Renovation Condition,Price (M),Lng,Building Type,Square,Elevator,Lat,Five Years Property,Drawing Room,Construction Time,Subway,Price per square,DOM,Ladder Ratio,Living Room,Kitchen,District,Building Structure
0,106,1,3,4.150,116.475489,1,131.00,1.0,40.01952,0.0,1,2005,1.0,31680.0,1464,0.217,2,1,7,6
1,126,2,4,5.750,116.453917,1,132.38,1.0,39.881534,1.0,2,2004,0.0,43436.0,903,0.667,2,1,7,6
2,48,3,3,10.300,116.561978,4,198.00,1.0,39.877145,0.0,2,2005,0.0,52021.0,1271,0.5,3,1,7,6
3,138,1,1,2.975,116.43801,1,134.00,1.0,40.076114,0.0,1,2008,0.0,22202.0,965,0.273,3,1,6,6
4,286,1,2,3.920,116.428392,4,81.00,0.0,39.886229,1.0,1,1960,1.0,48396.0,927,0.333,2,1,1,2

In [26]:
frequencyValues(findValues(columns)) # If the dictionay is empty it means all the unwanted values were replaced sucessfully.

{}

### NaN values
Let's see how many rows with NaN values there are in the dataset.

In [27]:
data_copy = desired_data.copy() # Create a copy of the dataset.
data_copy = data_copy.dropna() # Drop NaN rows.
nan_rows = desired_data.shape[0] - data_copy.shape[0]
nan_rows

159284

In [28]:
(nan_rows / desired_data.shape[0]) * 100 # Porcentage of NaN rows.

49.96063597213466

The above analysis show us that almost half of the registers hava at least one NaN columns, so deleting them will make us lose half of the data, instead, we are going to replace NaN values with somo statistic.

In [29]:
nans = desired_data.isna().sum()
nans

Followers                    0
Bathroom                     0
Renovation Condition         0
Price (M)                    0
Lng                          0
Building Type             2021
Square                       0
Elevator                     0
Lat                          0
Five Years Property          0
Drawing Room                 0
Construction Time            0
Subway                       0
Price per square             0
DOM                     157970
Ladder Ratio                 0
Living Room                  0
Kitchen                      0
District                     0
Building Structure           0
dtype: int64

In [30]:
data_copy = desired_data.copy()
# Replace NaNs with 'Building type' mode.
# inplace = True modifies the DataFrame directly, otherwise it creates a copy.
mode_value = data_copy['Building Type'].mode().iloc[0]
data_copy['Building Type'].fillna(value = mode_value, inplace = True)

In [31]:
nans = data_copy.isna().sum()
nans

Followers                    0
Bathroom                     0
Renovation Condition         0
Price (M)                    0
Lng                          0
Building Type                0
Square                       0
Elevator                     0
Lat                          0
Five Years Property          0
Drawing Room                 0
Construction Time            0
Subway                       0
Price per square             0
DOM                     157970
Ladder Ratio                 0
Living Room                  0
Kitchen                      0
District                     0
Building Structure           0
dtype: int64

In [32]:
# Replace NaNs with 'DOM' mean.
# Transform the values to numbers, when the conversion fails, we use coerce to fill them with nans.
data_copy['DOM'] = pd.to_numeric(data_copy['DOM'], errors = 'coerce')
mean_value = int(round(data_copy['DOM'].mean()))
data_copy['DOM'] = data_copy['DOM'].fillna(value = mean_value)

In [33]:
nans = data_copy.isna().sum()
nans

Followers               0
Bathroom                0
Renovation Condition    0
Price (M)               0
Lng                     0
Building Type           0
Square                  0
Elevator                0
Lat                     0
Five Years Property     0
Drawing Room            0
Construction Time       0
Subway                  0
Price per square        0
DOM                     0
Ladder Ratio            0
Living Room             0
Kitchen                 0
District                0
Building Structure      0
dtype: int64

# Clustering
We are going to group the data in differents clusters using the location and price per feet square, but first we are going to plot a 3D graph.
## 3D Graph

In [42]:
min_lng = min(data_copy['Lng'])
max_lng = max(data_copy['Lng'])

In [43]:
min_lat = min(data_copy['Lat'])
max_lat = max(data_copy['Lat'])

In [44]:
min_ps = min(data_copy['Price per square'])
max_ps = max(data_copy['Price per square'])

In [48]:
# Create the 3D figure.
fig = plt.figure(figsize=(10, 8))
ax = fig.add_subplot(111, projection='3d')
ax.scatter(data_copy['Lng'], data_copy['Lat'], data_copy['Price per square'], c='b', marker='o')
ax.set_xlim(min_lng, max_lng) 
ax.set_ylim(min_lat, max_lat) 
ax.set_zlim(min_ps, max_ps) 
ax.set_xlabel('Longitude')
ax.set_ylabel('Latitude')
ax.set_zlabel('Price per square')
plt.show()